// Contained within this file are all your resets, variables, mixins, and any utility classes.

$primary-color: #ff1654;
$secondary-color: #00a2ff;
$black-color: #222;
$white-color: rgb(250, 250, 250);
$grey-color: #ced4da;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
