// Contained within this file are all your resets, variables, mixins, and any utility classes.

$primary-color: #ff1654;
$secondary-color: #247ba0;
$black-color: #222;
$white-color: rgb(250, 250, 250);

body {
  color: $black-color;
}

.posts {
  .post {
    background-color: lighten($secondary-color, 20);
    color: $white-color;
    min-height: 200px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.new-post {
  border: 1px solid $black-color;
  padding: 20px;
}

nav {
  margin-bottom: 20px;

  a {
    color: $primary-color;
    font-size: 1.2rem;
    display: inline-block;
    margin: 0 20px;
  }

  a.active,
  a:hover {
    color: $primary-color;
    text-decoration: none;
    border-bottom: 3px solid $secondary-color;
  }
}
