// Anything reusable such as buttons, navbars, cards etc.

.btn.btn-danger {
  background-color: $primary-color;

  &:hover {
    background-color: darken($primary-color, 8);
  }
}

.btn.btn-outline-danger {
  color: $primary-color;
  border-color: $primary-color;

  &:hover {
    background-color: $primary-color;
  }
}

.btn.btn-info {
  background-color: $secondary-color;

  &:hover {
    background-color: darken($secondary-color, 8);
  }
}

.btn.btn-outline-info {
  color: $secondary-color;
  border-color: $secondary-color;

  &:hover {
    background-color: $secondary-color;
  }
}

.form-group {
  .error-message {
    color: $primary-color;
    font-weight: 500;
    
  }
}
