// Contains all the CSS that handles the layout, such as the container and any grid systems.

html,
body {
  margin: 0;
}

* {
  display: border-box;
}

.App {
  text-align: center;
  width: 90%;
  padding-top: 20px;
  margin: 10px auto;

  nav {
    padding: 8px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
  }
}

.new-post {
  text-align: start;

  textarea {
    min-height: 200px;
  }
}

.full-post {
  width: 65%;
  margin: 0 auto;
  animation: 300ms ease-in fadeIn;

  div {
    font-size: 1.2rem;
    line-height: 2.3rem;
    margin-top: 30px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.authentication {
  width: 50%;
  form {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    button {
      margin-top: 10px;
    }
  }
}
