// Contains all the CSS that handles the layout, such as the container and any grid systems.

html,
body {
  margin: 0;
  color: $black-color;
}

* {
  display: border-box;
}

.App {
  text-align: center;
  padding-top: 20px;
  padding: 0 50px;
  margin: 10px auto;

  nav {
    margin-bottom: 30px;
    padding: 8px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    a {
      color: $black-color;
      font-size: 1.2rem;
      display: inline-block;
      margin: 0 20px;

      &.active,
      &:hover {
        color: $black-color;
        text-decoration: none;
        border-bottom: 2px solid $primary-color;
      }
    }
  }
}

.posts {
  .post {
    border: 1px solid $grey-color;
    border-radius: 12px;
    color: $black-color;
    min-height: 200px;
    max-width: 700px;
    margin: 30px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease-in-out, opacity 0.3s ease-in-out;

    &.postItem-enter,
    &.postItem-appear {
      opacity: 0;
    }
    &.postItem-enter-active,
    &.postItem-appear-done {
      opacity: 1;
      // transition: opacity 300ms ease-in;
    }
    &.postItem-exit {
      opacity: 1;
    }
    &.postItem-exit-active {
      opacity: 0;
      // transition: opacity 300ms ease-out;
    }

    button {
      width: 20%;
      margin: 6px 20px;
    }

    &:hover {
      box-shadow: $box-shadow;
      transform: scale(1.03);
    }
  }
}

.new-post {
  text-align: start;
  border: 1px solid $grey-color;
  padding: 20px;

  textarea {
    min-height: 400px;
  }
}

.full-post {
  width: 65%;
  margin: 0 auto;

  div {
    font-size: 1.2rem;
    line-height: 2srem;
    margin-top: 30px;
    word-wrap: break-word;
  }
}

.authentication {
  width: 50%;
  box-shadow: $box-shadow;
  // border: 1px solid $grey-color;
  padding: 15px;
  margin: 20px auto;
  height: 400px;

  form {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    button {
      margin-top: 10px;
    }
  }
}
